@keyframes anim-stars {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(1%);
  }
}

.moveBack {
  background-image: url("https://i.imgur.com/KHvQlQ5.png");
    background-size: 1vw;
    background-repeat: repeat;
    background-color: #171F5D;
    position: absolute;
    z-index:-1 ;
    height:100vh;
    width: 100vw;
    max-width:99%;
    max-height:100vh;
    animation: anim-stars 1s linear infinite;
}

.App {
    color: #fff;
}

.App2{
  background: radial-gradient(transparent, #171F5D 70%);
    background-color: rgba(23, 31, 93, 0.5);
    height:100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
